@{
    var db = Database.Open("ColonielHeights");
    var announcements = db.Query("SELECT * FROM website_announcements WHERE date<=getdate() ORDER BY date desc");
    
    int length = 200;
    //string noHTML = Regex.Replace(item.body, @"<[^>]+>|&nbsp;", "").Trim();
    //string body = Regex.Replace(noHTML, @"\s{2,}", " ");
}@if(announcements == null || announcements.Count()==0){
    <article class="announcement-list">
	    <h2>No News</h2>
	    <p>Nothing new to mention here, sorry.</p> 
    </article>
 }else{foreach(var item in announcements){
    string noHTML = System.Text.RegularExpressions.Regex.Replace(item.body, @"<[^>]+>|&nbsp;", "").Trim();
    string body = System.Text.RegularExpressions.Regex.Replace(noHTML, @"\s{2,}", " ");
    <article class="announcement-list">
	    <h2><a href="@Href("/"+item.subject.Replace(" ", "-"))">@item.subject</a> <time datetime="@item.date" class="date">@item.date</time></h2>
	    <p>@if (body == null || body.Length < length){
            <text>@body</text>}else{
        int iNextSpace = body.LastIndexOf(" ", length);
        <text>@string.Format("{0}&#8230;", body.Substring(0, (iNextSpace > 0) ? iNextSpace : length).Trim())</text>}</p> 
    </article>}
}
