@{ 
    //{module_webapps,Testimonials,r,1 template="/ModuleTemplates/WebApps/footer-testimonial.tpl"}
    
    var db = Database.Open("ColonielHeights");
    var testimonial = db.Query("SELECT * FROM business_testimonials");
    //var testimony = "";
    //int count = (int)db.QueryValue("SELECT count(*) FROM business_testimonials");
    Random randomz = new Random();
    int rnum = 0;
    if(testimonial.Count()>1){
        rnum = randomz.Next(1,testimonial.Count())-1;
        //testimony = testimonial.ElementAt(rnum);
    }/*else{
        rnum = 1;
    }*/
    
    //var testimonial = db.QuerySingle("SELECT * FROM business_testimonials WHERE testid=@0", rnum);
    var testimony = testimonial.ElementAt(rnum);
}
							<div class="col-xs-4 col-md-4">
								<div class="pic">
									<img src="@Href("~/_assets/images/testimonials/"+testimony.PhotoName)" alt="@testimony.FirstName @testimony.LastName's Photo" />
								</div>
							</div>
							<div class="col-xs-8 col-md-8">
								<h4 class="ftitleblack">Happy @testimony.Title</h4>
								<blockquote class="footer-frontpage">@testimony.Testimony</blockquote>
								<p><i>- @testimony.FirstName @testimony.LastName</i></p>
							</div>