@RenderPage("~/ModuleTemplates/Forum/WhoIsOnline.cshtml") 
<!DOCTYPE html><!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
    <head>
		@RenderPage("~/_System/ContentHolders/_Template - Head Metatags.cshtml")
        @RenderPage("~/_System/ContentHolders/_Template - Head Scripts - Velonic.cshtml")
		@RenderSection("HeadCSS", required: false)
    </head>

    <body>
    @RenderSection("googlemanager", required: false)

        <!-- Aside Start-->
        @RenderPage("~/ModuleTemplates/Menu/Default/Velonic-CollapseNav.cshtml")
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content" style="padding-top: 51px;">
            
            <!-- Header -->
            @RenderPage("~/_System/ContentHolders/_Template - Header - Velonic.cshtml")
            <!-- Header Ends -->


            <!-- Page Content Start -->
            <!-- ================== -->
			<div class="wraper container-fluid"><!--
                <div class="page-title"> 
                    <h3 class="title">@Page.Title</h3> 
                </div>
				RenderPage("~/Layout/Profile/TitleHeader.cshtml")-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bg-picture" style="@if(File.Exists(Href("/_assets/images/users/profilebg/"+Request.Form["UserMemberID"]+".jpg"))){<text>background-image:url('@Href("/_assets/images/users/profilebg/"+Request.Form["UserMemberID"]/*bg_6*/+".jpg")');</text>}">
                          <span class="bg-picture-overlay"></span><!-- overlay -->
                          <!-- meta -->
                          <div class="box-layout meta bottom">
                            <div class="col-sm-6 clearfix">
                              <span class="img-wrapper pull-left m-r-15">@if(File.Exists(Href("/_assets/images/users/avatar-"+Request.Form["UserMemberID"]+".jpg"))){<text><img src="@Href("/_assets/images/users/avatar-"+Request.Form["UserMemberID"]+".jpg")" style="width:64px" class="br-radius" alt="User's profile background image - @Request.Form["UserAlias"].ToString()'s avatar image - @Request.Form["UserGender"].ToString()"></text>}
							else{<img src="/_assets/images/users/avatar-guest.jpg" style="width:64px" class="br-radius" alt="User's profile background image - No avatar image set">}</span>
                              <div class="media-body">
                                <h3 class="text-white mb-2 m-t-10 ellipsis">@Page.Title</h3>
                                <h5 class="text-white">MyCityName</h5>
                              </div>
                            </div>
                            <div class="col-sm-6">

                              <div class="pull-right">
                                <div class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle btn btn-primary" href="#">Following <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Poke</a></li>
                                        <li><a href="#">Private message</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Unfollow</a></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--/ meta -->
                        </div>
                    </div>
                </div>
				@RenderBody()
            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start --
			RenderPage("~/_System/ContentHolders/_Template - Footer - Velonic.cshtml")-->
			<footer class="footer"><p class="copyright text-center medium">Copyright &copy; Herbert Milhomme <script>var tD = new Date();var datestr =  tD.getFullYear();document.write(datestr);</script>. All Rights Reserved. <a href="/privacy">Privacy Policy</a></p></footer>
            <!-- Footer Ends -->

        </section>
        <!-- Main Content Ends -->

        <!-- js placed at the end of the document so the pages load faster -->
		@RenderPage("~/_System/ContentHolders/_Template - Footer Scripts - Velonic.cshtml")
		@RenderSection("FooterJS", required: false)

		@*RenderPage("~/_System/ContentHolders/_Template - AdsBanner.cshtml")*@
    </body>
</html>